// widget-specific css
@import "less/lib/bootstrap/bootstrap";
@import "less/lib/font-awesome/font-awesome";
@import "less/typography";
@import "less/variables";

body {
	position: relative;
	padding-top: 65px;
}

a {
	&:link {
		text-decoration: none;
		color: @stlpr-red;
	}
	
	&:visited {
		color: lighten(@stlpr-red, 40%);
	}
}

.date {
	color: #666;
}

.topic {
	padding-top: 65px;
	margin-top: -65px;
}

nav li {
	font-size: .7em;
}

.navbar-nav li a {
		padding: 5px
}