<!DOCTYPE html>
<html lang="en">

<head>
    <title>{{ COPY.content.project_name }}</title>

    <!-- META TAGS -->
    {% include '_meta.html' %}

    <!-- CHARTBEAT -->
    <script type="text/javascript">var _sf_startpt=(new Date()).getTime()</script>

    <!-- CSS -->
	{{ CSS.push('less/app.less') }}
    {% block extra_css %}
	{% endblock extra_css %}
    {{ CSS.render('css/app.min.css') }}

    <!-- JS -->
    {{ JS.push('js/lib/modernizr.js') }}
	{{ JS.render('js/app-header.min.js') }}
	
    {% block extra_head %}
    {% endblock extra_head %}
</head>
<body>
    <a class="sr-only" href="#content">Skip To Content</a>

    {% block outer_content %}

	{% include '_header.html' %}
	

    <section id="content">
    	{% include '_menu.html' %}
	    
                <div id="main-content">
                    {% block content %}
                    <h1>{{ project_name }}</h1>
                    App content goes here.

                    <i class="icon icon-play"></i>
                    {% endblock content %}
                </div>
            {% block wide_content %}
            {% endblock wide_content %}
    </section>

    {% include '_footer.html' %}


    {% endblock outer_content %}

    {{ JS.push('js/lib/jquery.js') }}
    {{ JS.push('js/lib/underscore.js') }}
    {{ JS.push('js/lib/bootstrap.js') }}
    {{ JS.push('js/lib/moment.js') }}
    {{ JS.push('js/app_config.js') }}
    {{ JS.push('js/copy.js') }}
    {{ JS.push('js/console.js') }}
    {{ JS.push('js/templates.js') }}
    {{ JS.push('js/reload.js') }}
    {% block extra_foot_js %}{% endblock extra_foot_js %}
    <!-- {{ JS.push('js/analytics.js') }} -->
    {{ JS.render('js/app-footer.min.js') }}

    {% block extra_foot %}
    {% endblock extra_foot %}
    
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
 
     ga('create', 'UA-2139719-1', 'auto');
      ga('send', 'pageview');
 
    </script>

</body>
</html>
