{% extends '_base.html' %}

{% block extra_css %}
<link rel="stylesheet" type="text/css" href="css/player.css">
{% endblock %}

{% block content %}
<h1>
	Audio
</h1>
		<p>Part of the evidence released Dec. 8, 2014, was audio. This included 52 audio files of police radio traffic. These match a portion of the <a href="https://www.documentcloud.org/documents/1370732-radio-traffic.html">radio traffic transcript</a> released in November.</p>
		<p>The Prosecutor also released audio from a video message coincidentally recorded at the time of the shooting which includes the sound of approximately 10 shots.</p>
<div class="audio-section col-sm-10 col-sm-offset-1">
	<h2>Police radio</h2>
	<div class="call">
		<h3>
			<span class="soundcite" data-url="https://s3.amazonaws.com/stlpr-assets/ferguson-project/audio/0000000348_police_backup_2014-08-09_12_11_59.mp3" data-start="0" data-end="11000">Track 348</span>
		</h3>
		<p>
			OFFICER (25): Frank 25.
		</p>
		<p>
			DISPATCHER: Frank 25.
		</p>
		<p>
			OFFICER (25): I'll be 10-8 and I'll head over to Victorian Plaza.
		</p>
	</div>
	<div class="call">
		<h3>
			<span class="soundcite" data-url="https://s3.amazonaws.com/stlpr-assets/ferguson-project/audio/0000000349_police_backup_2014-08-09_12_12_11.mp3" data-start="0" data-end="16000">Track 349</span>
		</h3>
		<p>
			DISPATCHER: (UI) we're takin' a stealing in progress from 9101 West Florissant ...9101 West Florissant. Subject may be leaving the business at the time. Standby for further.
		</p>
		<p>
			OFFICER: All clear. I'm right here.
		</p>
	</div>
	<div class="call">
		<h3>
			<span class="soundcite" data-url="https://s3.amazonaws.com/stlpr-assets/ferguson-project/audio/0000000350_police_backup_2014-08-09_12_12_30.mp3" data-start="0" data-end="18000">Track 350</span>
		</h3>
		<p>
			DISPATCHER: 25 ... it's gonna be a black male in a white t-shirt. He's running toward Quik Trip. He took a whole box of Swisher cigars.
		</p>
		<p>
			OFFICER: Black male, white t-shirt?
		</p>
		<p>
			DISPATCHER: That's affirmative. She said he just walked out of the store.
		</p>
	</div>
	<div class="call">
		<h3>
			<span class="soundcite" data-url="https://s3.amazonaws.com/stlpr-assets/ferguson-project/audio/0000000351_police_backup_2014-08-09_12_12_53.mp3" data-start="0" data-end="10000">Track 351</span>
		</h3>
		<p>
			OFFICER: I don't see anybody running out here.
		</p>
		<p>
			DISPATCHER: She said he was walking. But, he headed up toward Quik Trip from 9101.
		</p>
	</div>
	<div class="call">
		<h3>
			<span class="soundcite" data-url="https://s3.amazonaws.com/stlpr-assets/ferguson-project/audio/0000000352_police_backup_2014-08-09_12_13_09.mp3" data-start="0" data-end="6000">Track 352</span>
		</h3>
		<p>
			OFFICER: Does she have any further?
		</p>
		<p>
			DISPATCHER: Negative.
		</p>
	</div>
	<div class="call">
		<h3>
			<span class="soundcite" data-url="https://s3.amazonaws.com/stlpr-assets/ferguson-project/audio/0000000353_police_backup_2014-08-09_12_13_21.mp3" data-start="0" data-end="9000">Track 353</span>
		</h3>
		<p>
			OFFICER: There's nobody walking out here with a white t-shirt.
		</p>
		<p>
			DISPATCHER: You'll have to contact her for further then. That's all she could give me.
		</p>
	</div>
	<div class="call">
		<h3>
			<span class="soundcite" data-url="https://s3.amazonaws.com/stlpr-assets/ferguson-project/audio/0000000354_police_backup_2014-08-09_12_13_38.mp3" data-start="0" data-end="7000">Track 354</span>
		</h3>
		<p>
			(UI)
		</p>
	</div>
	<div class="call">
		<h3>
			<span class="soundcite" data-url="https://s3.amazonaws.com/stlpr-assets/ferguson-project/audio/0000000355_police_backup_2014-08-09_12_15_09.mp3" data-start="0" data-end="12000">Track 355</span>
		</h3>
		<p>
			OFFICER (22): 22. I'm 10-8 with a report from the last. Do you have any further description on that male? I have a male with a white t-shirt and black pants and a backpack on Sharondale.
		</p>
	</div>
	<div class="call">
		<h3>
			<span class="soundcite" data-url="https://s3.amazonaws.com/stlpr-assets/ferguson-project/audio/0000000356_police_backup_2014-08-09_12_15_25.mp3" data-start="0" data-end="4000">Track 356</span>
		</h3>
		<p>
			OFFICER: No information.
		</p>
	</div>
	<div class="call">
		<h3>
			<span class="soundcite" data-url="https://s3.amazonaws.com/stlpr-assets/ferguson-project/audio/0000000357_police_backup_2014-08-09_12_15_33.mp3" data-start="0" data-end="3000">Track 357</span>
		</h3>
		<p>
			OFFICER: Clear.
		</p>
	</div>
	<div class="call">
		<h3>
			<span class="soundcite" data-url="https://s3.amazonaws.com/stlpr-assets/ferguson-project/audio/0000000358_police_backup_2014-08-09_12_16_28.mp3" data-start="0" data-end="16000">Track 358</span>
		</h3>
		<p>
			OFFICER: He's a, he's with another male. He's got a red Cardinal's hat, white-tshirt, yellow socks, and khaki short. He was walking up (UI).
		</p>
		<p>
			OFFICER: Clear.
		</p>
	</div>
	<div class="call">
		<h3>
			<span class="soundcite" data-url="https://s3.amazonaws.com/stlpr-assets/ferguson-project/audio/0000000359_police_backup_2014-08-09_12_17_12.mp3" data-start="0" data-end="5000">Track 359</span>
		</h3>
		<p>
			OFFICER (27): 27. I'm at the station. (UI)
		</p>
	</div>
	<div class="call">
		<h3>
			<span class="soundcite" data-url="https://s3.amazonaws.com/stlpr-assets/ferguson-project/audio/0000000360_police_backup_2014-08-09_12_17_29.mp3" data-start="0" data-end="8000">Track 360</span>
		</h3>
		<p>
			OFFICER: I'm gonna try to make my way up there now. (UI)
		</p>
	</div>
	<div class="call">
		<h3>
			<span class="soundcite" data-url="https://s3.amazonaws.com/stlpr-assets/ferguson-project/audio/0000000361_police_backup_2014-08-09_12_17_38.mp3" data-start="0" data-end="10000">Track 361</span>
		</h3>
		<p>
			OFFICER (22): 22. (UI) 34 through Sharondale and I'm with 25.
		</p>
		<p>
			DISPATCHER: 22, that's clear.
		</p>
	</div>
	<div class="call">
		<h3>
			<span class="soundcite" data-url="https://s3.amazonaws.com/stlpr-assets/ferguson-project/audio/0000000362_police_backup_2014-08-09_12_18_27.mp3" data-start="0" data-end="22000">Track 362</span>
		</h3>
		<p>
			OFFICER (?): Victor (UI)
		</p>
		<p>
			OFFICER (?):
		</p>
		<p>
			DISPATCHER: (UI)
		</p>
		<p>
			OFFICER: I'm gonna be going out with a, it's like a red Pontiac. A, Buzz Westfall Plaza by Sprint. Plates are on file for any year. There's numerous 99s attached to the plate.
		</p>
	</div>
	<div class="call">
		<h3>
			<span class="soundcite" data-url="https://s3.amazonaws.com/stlpr-assets/ferguson-project/audio/0000000363_police_backup_2014-08-09_12_18_49.mp3" data-start="0" data-end="4000">Track 363</span>
		</h3>
		<p>
			DISPATCHER: Victor 2 traffic in front of Sprint.
		</p>
	</div>
	<div class="call">
		<h3>
			<span class="soundcite" data-url="https://s3.amazonaws.com/stlpr-assets/ferguson-project/audio/0000000364_police_backup_2014-08-09_12_18_58.mp3" data-start="0" data-end="17000">Track 364</span>
		</h3>
		<p>
			OFFICER (21): Frank 21.
		</p>
		<p>
			DISPATCHER: Frank 21.
		</p>
		<p>
			OFFICER (21): 10-8 with a report.
		</p>
		<p>
			DISPATCHER: Clear.
		</p>
		<p>
			OFFICER (21): (UI) 21 to 25 (UI).
		</p>
		<p>
			DISPATCHER: Go ahead.
		</p>
	</div>
	<div class="call">
		<h3>
			<span class="soundcite" data-url="https://s3.amazonaws.com/stlpr-assets/ferguson-project/audio/0000000365_police_backup_2014-08-09_12_19_16.mp3" data-start="0" data-end="9000">Track 365</span>
		</h3>
		<p>
			OFFICER:
		</p>
		<p>
			DISPATCHER: 10-4.
		</p>
	</div>
	<div class="call">
		<h3>
			<span class="soundcite" data-url="https://s3.amazonaws.com/stlpr-assets/ferguson-project/audio/0000000366_police_backup_2014-08-09_12_19_26.mp3" data-start="0" data-end="5000">Track 366</span>
		</h3>
		<p>
			OFFICER (21): 21 to 25 or 22. Do you guys need me?
		</p>
	</div>
	<div class="call">
		<h3>
			<span class="soundcite" data-url="https://s3.amazonaws.com/stlpr-assets/ferguson-project/audio/0000000367_police_backup_2014-08-09_12_19_33.mp3" data-start="0" data-end="18000">Track 367</span>
		</h3>
		<p>
			OFFICER (?): Disappeared into the woodwork.
		</p>
		<p>
			OFFICER (?): Dispatch, can you relay? I couldn't hear him.
		</p>
		<p>
			DISPATCHER: He thinks that a, they disappeared.
		</p>
		<p>
			OFFICER (?): Clear.
		</p>
	</div>
	<div class="call">
		<h3>
			<span class="soundcite" data-url="https://s3.amazonaws.com/stlpr-assets/ferguson-project/audio/0000000368_police_backup_2014-08-09_12_20_12.mp3" data-start="0" data-end="24000">Track 368</span>
		</h3>
		<p>
			OFFICER (22): Frank 22.
		</p>
		<p>
			DISPATCHER: Frank 22.
		</p>
		<p>
			OFFICER (22): 10-8 assist. I'll be en route to Victorian Plaza.
		</p>
		<p>
			DISPATCHER: 10-4. Also, when you get a moment, I have a 21 message for you.
		</p>
		<p>
			OFFICER (22): Clear. Do I need to call you?
		</p>
		<p>
			DISPATCHER: 10-4.
		</p>
	</div>
	<div class="call">
		<h3>
			<span class="soundcite" data-url="https://s3.amazonaws.com/stlpr-assets/ferguson-project/audio/0000000369_police_backup_2014-08-09_12_21_05.mp3" data-start="0" data-end="7000">Track 369</span>
		</h3>
		<p>
			OFFICER (21): 21, put me on Canfield with two and send me another car.
		</p>
	</div>
	<div class="call">
		<h3>
			<span class="soundcite" data-url="https://s3.amazonaws.com/stlpr-assets/ferguson-project/audio/0000000370_police_backup_2014-08-09_12_21_13.mp3" data-start="0" data-end="4000">Track 370</span>
		</h3>
		<p>
			DISPATCHER: 21, you're out on Canfield?
		</p>
	</div>
	<div class="call">
		<h3>
			<span class="soundcite" data-url="https://s3.amazonaws.com/stlpr-assets/ferguson-project/audio/0000000371_police_backup_2014-08-09_12_21_19.mp3" data-start="0" data-end="9000">Track 371</span>
		</h3>
		<p>
			OFFICER (24): 24, I'm the closest.
		</p>
		<p>
			DISPATCHER: Clear. 24's responding to your location on Canfield.
		</p>
	</div>
	<div class="call">
		<h3>
			<span class="soundcite" data-url="https://s3.amazonaws.com/stlpr-assets/ferguson-project/audio/0000000372_police_backup_2014-08-09_12_21_46.mp3" data-start="0" data-end="6000">Track 372</span>
		</h3>
		<p>
			OFFICER (25): 25. I'll be going out on Canfield. (UI)
		</p>
	</div>
	<div class="call">
		<h3>
			<span class="soundcite" data-url="https://s3.amazonaws.com/stlpr-assets/ferguson-project/audio/0000000373_police_backup_2014-08-09_12_21_53.mp3" data-start="0" data-end="5000">Track 373</span>
		</h3>
		<p>
			(OFFICER): 22's out
		</p>
	</div>
	<div class="call">
		<h3>
			<span class="soundcite" data-url="https://s3.amazonaws.com/stlpr-assets/ferguson-project/audio/0000000374_police_backup_2014-08-09_12_22_18.mp3" data-start="0" data-end="4000">Track 374</span>
		</h3>
		<p>
			OFFICER(?): Where's the other one?
		</p>
	</div>
	<div class="call">
		<h3>
			<span class="soundcite" data-url="https://s3.amazonaws.com/stlpr-assets/ferguson-project/audio/0000000375_police_backup_2014-08-09_12_22_29.mp3" data-start="0" data-end="4000">Track 375</span>
		</h3>
		<p>
			(UI)
		</p>
	</div>
	<div class="call">
		<h3>
			<span class="soundcite" data-url="https://s3.amazonaws.com/stlpr-assets/ferguson-project/audio/0000000376_police_backup_2014-08-09_12_22_34.mp3" data-start="0" data-end="4000">Track 376</span>
		</h3>
		<p>
			DISPATCHER: 10-4 on Canfield.
		</p>
	</div>
	<div class="call">
		<h3>
			<span class="soundcite" data-url="https://s3.amazonaws.com/stlpr-assets/ferguson-project/audio/0000000377_police_backup_2014-08-09_12_22_49.mp3" data-start="0" data-end="21000">Track 377</span>
		</h3>
		<p>
			OFFICER (25): Frank 25.
		</p>
		<p>
			DISPATCHER: Frank 25.
		</p>
		<p>
			OFFICER (25): (UI)
		</p>
		<p>
			OFFICER (25): (UI) Copper Creek Court.
		</p>
		<p>
			DISPATCHER: Frank 23.
		</p>
		<p>
			OFFICER (23): Go ahead.
		</p>
		<p>
			DISPATCHER: Did you ever despo...respond to Canfield and Copper Creek Court for 25?
		</p>
	</div>
	<div class="call">
		<h3>
			<span class="soundcite" data-url="https://s3.amazonaws.com/stlpr-assets/ferguson-project/audio/0000000378_police_backup_2014-08-09_12_23_11.mp3" data-start="0" data-end="14000">Track 378</span>
		</h3>
		<p>
			OFFICER: 10-4.
		</p>
		<p>
			DISPATCHER: 10-4.
		</p>
		<p>
			OFFICER: If we have a, detectives on duty, they need to respond as well.
		</p>
		<p>
			DISPATCHER: Dispatcher's clear. I'll check.
		</p>
	</div>
	<div class="call">
		<h3>
			<span class="soundcite" data-url="https://s3.amazonaws.com/stlpr-assets/ferguson-project/audio/0000000379_police_backup_2014-08-09_12_23_49.mp3" data-start="0" data-end="11000">Track 379</span>
		</h3>
		<p>
			DISPATCHER: Frank 23. I'm unable to get a hold of anyone from that particular Agency and United Way cannot recommend anyone else.
		</p>
	</div>
	<div class="call">
		<h3>
			<span class="soundcite" data-url="https://s3.amazonaws.com/stlpr-assets/ferguson-project/audio/0000000380_police_backup_2014-08-09_12_24_37.mp3" data-start="0" data-end="12000">Track 380</span>
		</h3>
		<p>
			OFFICER (?): 23. I'm gonna be 10-8 from (UI) 24 remaining and I'll be en route Canfield, is it?
		</p>
		<p>
			DISPATCHER: Clear. Canfield and Copper Creek.
		</p>
	</div>
	<div class="call">
		<h3>
			<span class="soundcite" data-url="https://s3.amazonaws.com/stlpr-assets/ferguson-project/audio/0000000381_police_backup_2014-08-09_12_24_51.mp3" data-start="0" data-end="9000">Track 381</span>
		</h3>
		<p>
			DISPATCHER: EMS is en route.
		</p>
	</div>
	<div class="call">
		<h3>
			<span class="soundcite" data-url="https://s3.amazonaws.com/stlpr-assets/ferguson-project/audio/0000000382_police_backup_2014-08-09_12_25_40.mp3" data-start="0" data-end="6000">Track 382</span>
		</h3>
		<p>
			OFFICER (23): 23 will be (UI).
		</p>
		<p>
			DISPATCHER: 10-23 at 12:04.
		</p>
	</div>
	<div class="call">
		<h3>
			<span class="soundcite" data-url="https://s3.amazonaws.com/stlpr-assets/ferguson-project/audio/0000000383_police_backup_2014-08-09_12_26_07.mp3" data-start="0" data-end="4000">Track 383</span>
		</h3>
		<p>
			OFFICER (25): Frank 25.
		</p>
	</div>
	<div class="call">
		<h3>
			<span class="soundcite" data-url="https://s3.amazonaws.com/stlpr-assets/ferguson-project/audio/0000000384_police_backup_2014-08-09_12_26_14.mp3" data-start="0" data-end="14000">Track 384</span>
		</h3>
		<p>
			DISPATCHER: 25.
		</p>
		<p>
			OFFICER (25): Get us several more units over here. There's gonna be a problem.
		</p>
		<p>
			DISPATCHER: Is there any available Ferguson units who can respond to Canfield and Copper Creek advise?
		</p>
	</div>
	<div class="call">
		<h3>
			<span class="soundcite" data-url="https://s3.amazonaws.com/stlpr-assets/ferguson-project/audio/0000000385_police_backup_2014-08-09_12_26_34.mp3" data-start="0" data-end="20000">Track 385</span>
		</h3>
		<p>
			OFFICER (27): 27, I'm leavin' the station. You need me to go over there?
		</p>
		<p>
			DISPATCHER: They are requesting more units at Canfield and Copper Creek. I'll also contact St. Louis County PD.
		</p>
		<p>
			OFFICER (27): 27's clear.
		</p>
		<p>
			OFFICER (?): We're gonna need crowd control here.
		</p>
		<p>
			DISPATCHER: I'm contacting St. Louis County.
		</p>
	</div>
	<div class="call">
		<h3>
			<span class="soundcite" data-url="https://s3.amazonaws.com/stlpr-assets/ferguson-project/audio/0000000386_police_backup_2014-08-09_12_26_57.mp3" data-start="0" data-end="6000">Track 386</span>
		</h3>
		<p>
			DISPATCHER: Ferguson Police to St. Louis County on point-to-point.
		</p>
	</div>
	<div class="call">
		<h3>
			<span class="soundcite" data-url="https://s3.amazonaws.com/stlpr-assets/ferguson-project/audio/0000000387_police_backup_2014-08-09_12_27_06.mp3" data-start="0" data-end="15000">Track 387</span>
		</h3>
		<p>
			DISPATCHER: This is Ferguson...St. Louis County, do you have any possibly a Dellwood or a St. Louis County officers available for crowd control and disturbance to assist Ferguson Canfield and Copper Creek ...Canfield and Copper Creek?
		</p>
	</div>
	<div class="call">
		<h3>
			<span class="soundcite" data-url="https://s3.amazonaws.com/stlpr-assets/ferguson-project/audio/0000000388_police_backup_2014-08-09_12_27_28.mp3" data-start="0" data-end="2000">Track 388</span>
		</h3>
		<p>
			DISPATCHER(?): (UI)
		</p>
	</div>
	<div class="call">
		<h3>
			<span class="soundcite" data-url="https://s3.amazonaws.com/stlpr-assets/ferguson-project/audio/0000000389_police_backup_2014-08-09_12_27_35.mp3" data-start="0" data-end="4000">Track 389</span>
		</h3>
		<p>
			(UI)
		</p>
	</div>
	<div class="call">
		<h3>
			<span class="soundcite" data-url="https://s3.amazonaws.com/stlpr-assets/ferguson-project/audio/0000000390_police_backup_2014-08-09_12_27_40.mp3" data-start="0" data-end="11000">Track 390</span>
		</h3>
		<p>
			DISPATCHER: (UI)
		</p>
		<p>
			OFFICER (?): (UI) 10-8. Do you need a (UI) at Copper Creek?
		</p>
		<p>
			DISPATCHER: That's affirmative.
		</p>
		<p>
			OFFICER (?): (UI)
		</p>
	</div>
	<div class="call">
		<h3>
			<span class="soundcite" data-url="https://s3.amazonaws.com/stlpr-assets/ferguson-project/audio/0000000391_police_backup_2014-08-09_12_27_52.mp3" data-start="0" data-end="3000">Track 391</span>
		</h3>
		<p>
			DISPATCHER: Ferguson.
		</p>
	</div>
	<div class="call">
		<h3>
			<span class="soundcite" data-url="https://s3.amazonaws.com/stlpr-assets/ferguson-project/audio/0000000392_police_backup_2014-08-09_12_28_04.mp3" data-start="0" data-end="15000">Track 392</span>
		</h3>
		<p>
			OFFICER (2): Victor 2. (UI)
		</p>
		<p>
			DISPATCHER: Victor 7. En route and what other Victor unit?
		</p>
		<p>
			OFFICER (2): Victor 2 and Victor 7.
		</p>
		<p>
			DISPATCHER: Clear.
		</p>
	</div>
	<div class="call">
		<h3>
			<span class="soundcite" data-url="https://s3.amazonaws.com/stlpr-assets/ferguson-project/audio/0000000393_police_backup_2014-08-09_12_28_38.mp3" data-start="0" data-end="13000">Track 393</span>
		</h3>
		<p>
			DISPATCHER: Frank 25. I have two Country Club units coming your way and possibly St. Louis County.
		</p>
		<p>
			OFFICER (?): I'm clear. We just need crowd control.
		</p>
		<p>
			DISPATCHER: 10-4.
		</p>
	</div>
	<div class="call">
		<h3>
			<span class="soundcite" data-url="https://s3.amazonaws.com/stlpr-assets/ferguson-project/audio/0000000394_police_backup_2014-08-09_12_29_35.mp3" data-start="0" data-end="5000">Track 394</span>
		</h3>
		<p>
			OFFICER(?): Victor units to (UI).
		</p>
	</div>
	<div class="call">
		<h3>
			<span class="soundcite" data-url="https://s3.amazonaws.com/stlpr-assets/ferguson-project/audio/0000000395_police_backup_2014-08-09_12_29_49.mp3" data-start="0" data-end="7000">Track 395</span>
		</h3>
		<p>
			Officer (27): Frank 27, 10-23.
		</p>
		<p>
			DISPATCHER: 27's out.
		</p>
	</div>
	<div class="call">
		<h3>
			<span class="soundcite" data-url="https://s3.amazonaws.com/stlpr-assets/ferguson-project/audio/0000000396_police_backup_2014-08-09_12_30_22.mp3" data-start="0" data-end="5000">Track 396</span>
		</h3>
		<p>
			DISPATCHER: Frank 24. Are you secure? She's calling.
		</p>
	</div>
	<div class="call">
		<h3>
			<span class="soundcite" data-url="https://s3.amazonaws.com/stlpr-assets/ferguson-project/audio/0000000397_police_backup_2014-08-09_12_30_27.mp3" data-start="0" data-end="18000">Track 397</span>
		</h3>
		<p>
			OFFICER (24): 24, I'm 10-4, almost at the house. Who's calling?
		</p>
		<p>
			DISPATCHER: A female's calling. I just wanna make sure you were secure.
		</p>
		<p>
			OFFICER (24): 10-4, I'm on the line with DFS.
		</p>
	</div>
	<div class="call">
		<h3>
			<span class="soundcite" data-url="https://s3.amazonaws.com/stlpr-assets/ferguson-project/audio/0000000398_police_backup_2014-08-09_12_34_20.mp3" data-start="0" data-end="4000">Track 398</span>
		</h3>
		<p>
			OFFICER(?): Comin' up behind ya.
		</p>
	</div>
	<div class="call">
		<h3>
			<span class="soundcite" data-url="https://s3.amazonaws.com/stlpr-assets/ferguson-project/audio/0000000399_police_backup_2014-08-09_12_35_28.mp3" data-start="0" data-end="4000">Track 399</span>
		</h3>
		<p>
			DISPATCHER: Ferguson's clear.
		</p>
	</div>
	<div class="call">
		<h3>
			<span class="soundcite" data-url="https://s3.amazonaws.com/stlpr-assets/ferguson-project/audio/0000000400_police_backup_2014-08-09_12_47_07.mp3" data-start="0" data-end="4000">Track 400</span>
		</h3>
		<p>
			OFFICER(?): (UI)
		</p>
	</div>
</div>
<div class="audio-section col-sm-10 col-sm-offset-1">
	<h2>Audio of shots fired</h2>
	<div class="call">
		<p>
		A resident of the Canfield Green apartments was recording a video chat message on the app Glide, when in the background you can hear <span class="soundcite" data-url="https://s3.amazonaws.com/stlpr-assets/ferguson-project/audio/glide_message.mp3" data-start="0" data-end="11000">shots fired</span>.
	</p>
	</div>
</div>



{% endblock %}

{% block extra_head %}
<script type="text/javascript" src="js/soundcite.js"></script>
{% endblock %}