{% extends '_base.html' %}

{% block content %}
<h1>#BeyondFerguson Live Blog</h1>

<p>
	Tonight at 6, St. Louis Public Radio hosts a second forum in Ferguson:&nbsp;<a href="http://news.stlpublicradio.org/post/you-re-invited-npr-s-michel-martin-host-community-discussion" target="_blank">Ferguson and Beyond: Continuing the Community Conversation</a>.&nbsp;We <a href="http://news.stlpublicradio.org/post/you-re-invited-npr-s-michel-martin-host-community-discussion" target="_blank">invite you to join us in person</a>, but if you'd like to follow along from afar, please join us here on our live blog below.
</p><!--break-->
<p>
	Contribute to the discussion and ask questions on social media by using the <a href="https://twitter.com/search?q=%23BeyondFerguson&amp;src=typd" target="_blank">#BeyondFerguson</a> hashtag.
</p>
<ul>
	<li>
		<a href="http://news.stlpublicradio.org/post/you-re-invited-npr-s-michel-martin-host-community-discussion" target="_blank">Event details</a>
	</li>
	<li>
		<a href="http://news.stlpublicradio.org/post/panelists-announced-monday-s-ferguson-forum-hosted-npr-s-michel-martin" target="_blank">List of panelists and their social media information</a>
	</li>
	<li>
		<a href="http://apps.stlpublicradio.org/ferguson-project/index.html">All Ferguson</a>: Explore all of St. Louis Public Radio's Ferguson-related coverage, the released evidence and more
	</li>
</ul>

<div class="scrbbl-embed" data-src="/event/1159224"></div>
<script>(function(d, s, id) {var js,ijs=d.getElementsByTagName(s)[0];if(d.getElementById(id))return;js=d.createElement(s);js.id=id;js.src="//embed.scribblelive.com/widgets/embed.js";ijs.parentNode.insertBefore(js, ijs);}(document, 'script', 'scrbbl-js'));</script>

{% endblock %}