{% extends '_base.html' %}

{% block content %}
<style type="text/css">
body {
	position: relative;
	padding-top: 30px;
	height: 100%;
}
</style>
<div class="listing">
	<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
		<div class="container" id="nav">
				<ul class="nav navbar-nav">
					{% for row in COPY.months %}
					<li><a target="_self" href="#{{ row.slug }}">{{ row.month }}</a></li>
					{% endfor %}
					<li id="top"><a target="_self" href="#">Back to Top </a></li>
				</ul>
		</div>
	</nav>
	
	<h3>Viewing by date <small>Last updated on {{ COPY.content.stories_updated }}</small></h3>
		<p class="small">View <a target="_self" href="date.html">newest first</a>? View by <a target="_self" href="topic.html">topic</a> instead?</p>
{% for yeargroup in COPY.stories|groupby('year') %}
{% for monthgroup in yeargroup.list|groupby('month') %}
<div class="date-menu" id="month-{{ monthgroup.grouper }}"></div>
{% for daygroup in monthgroup.list|groupby('day') %}
<h2>{{ monthgroup.grouper }}/{{ daygroup.grouper }}</h2>
{% for story in daygroup.list %}
<p><a href="{{ story.url }}">{{ story.headline }}</a></p>
{% endfor %}
{% endfor %}
{% endfor %}
{% endfor %}
</div>
{% endblock %}