{% extends '_base.html' %}

{% block content %}
<h1>DOJ findings</h1>
<p>The below reports were released by the Department of Justice on March 4, 2015. The report concerning whether Darren Wilson should be federally prosecuted for killing Michael Brown concluded that the case lacked prosecutorial merit and so Wilson should not be charged. Another report accuses Ferguson police and courts of violating citizens' constitutional rights.
	
<p><a href="http://www.stlpublicradio.org/papertrail/document.html?id=1681159-doj-report-on-shooting-of-michael-brown">Report on Darren Wilson</a></p>

<p><a href="http://www.stlpublicradio.org/papertrail/document.html?id=1681138-ferguson-doj-report">Report on Ferguson</a>

<h1>Evidence released by McCulloch</h1>

<p>The below documents are evidence the grand jury considered that was released by St. Louis County Prosecutor Robert McCulloch.</p>
<p>Portions highlighted in yellow are notes that St. Louis Public Radio reporters have made to help understand these documents or passages we've marked for later reference. We have not redacted these documents — other than the notes, they are as provided.</p>
<p><strong>UPDATED DEC. 15</strong> with new evidence released.</p>

<div id="DC-search-projectid-16874-darren-wilson-grand-jury-testimony" class="DC-search-container"></div>
<script src="//s3.amazonaws.com/s3.documentcloud.org/embed/loader.js"></script>
<script>
  dc.embed.load('http://www.documentcloud.org/search/embed/', {
    q: "projectid: 16874-darren-wilson-grand-jury-testimony ",
    container: "#DC-search-projectid-16874-darren-wilson-grand-jury-testimony",
    title: "Grand Jury Testimony",
    order: "title",
    per_page: 25,
    search_bar: true,
    organization: 881
  });
</script>
  
<div id="DC-search-projectid-17321-ferguson-project-eyewitness-interviews" class="DC-search-container"></div>
<script src="//s3.amazonaws.com/s3.documentcloud.org/embed/loader.js"></script>
<script>
  dc.embed.load('http://www.documentcloud.org/search/embed/', {
    q: "projectid: 17321-ferguson-project-eyewitness-interviews ",
    container: "#DC-search-projectid-17321-ferguson-project-eyewitness-interviews",
    title: "Darren Wilson Grand Jury: Eyewitness interviews",
    order: "title",
    per_page: 60,
    search_bar: true,
    organization: 881
  });
</script>

  <div id="DC-search-projectid-16876-darren-wilson-grand-jury-reports" class="DC-search-container"></div>
  <script src="//s3.amazonaws.com/s3.documentcloud.org/embed/loader.js"></script>
  <script>
    dc.embed.load('http://www.documentcloud.org/search/embed/', {
      q: "projectid: 16876-darren-wilson-grand-jury-reports ",
      container: "#DC-search-projectid-16876-darren-wilson-grand-jury-reports",
      title: "Reports, Forensic Evidence and other Interviews",
      order: "title",
      per_page: 36,
      search_bar: true,
      organization: 881
    });
  </script>

{% endblock %}