{% extends '_base.html' %}

{% block content %}
<div id="intro">
	<h1>The Ferguson Project</h1>
	<p>The issues that have come to the fore since Aug. 9, 2014, when Ferguson Police Officer Darren Wilson killed 18-year-old Michael Brown have been developing for decades. What actually happened on Canfield Drive will continue to be discussed, but attention is increasingly focused on community-police relations, racial profiling and racial and economic disparities and more. Here you’ll find our efforts to illuminate and explain the events that have happened and the wide-ranging conversation that is going on.</p>
</div>

<div id="index">
	<a href="http://apps.stlpublicradio.org/hear-ferguson"><div class="jumbotron">
		<h1>One Year in Ferguson</h1>
		<p>How it sounded. How it looked. How it felt.</p>
	</div>
	</a>
	<div class="row">
		<div class="col-sm-6">
			<h1><a href="topic.html">All Our Coverage</a></h1>
			<p>We have sorted all our articles since Aug. 10, 2014 by date and by topic. This page is updated when we have new stories. You can also see <a href="http://apps.stlpublicradio.org/ferguson-project/topic.html#one_year_later">all of our stories about the one-year anniversary</a>.</p><p>It was last updated on {{ COPY.content.stories_updated }}.</p>
		</div>

		<div class="col-sm-6">
			<h1><a href="evidence.html">DOJ Reports &amp; Grand Jury Evidence</a></h1>
			<p>The Department of Justice released its final reports on both Darren Wilson and the Ferguson Police Department. Additionally, We've read thousands of pages of grand jury testimony transcripts and reports, heard police radio traffic and audio of the gunshots and viewed photos. Here, you can too.</p>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-6">
			<h1><a href="map.html">Mapping the Area</a></h1>
			<p>You can put the area in context by learning what happened where and when.</p>
		</div>
		<div class="col-sm-6">
			<h1><a href="liveblog.html">Live Blog</a></h1>
			<p>We kept a live blog starting in August 2014, and updated when events warranted. See what happened, as it happened.</p>
		</div>
	</div>
</div>
{% endblock %}
