{% extends '_base.html' %}

{% block content %}
<div id="intro">
	<h1>The Ferguson Project</h1>
	<p>The issues that have come to the fore since Aug. 9, 2014, when Ferguson Police Officer Darren Wilson killed 18-year-old Michael Brown have been developing for decades. What actually happened on Canfield Drive will continue to be discussed, but attention is increasingly focused on community-police relations, racial profiling and racial and economic disparities and more. Here you’ll find our efforts to illuminate and explain the events that have happened and the wide-ranging conversation that is going on.</p>
</div>

<div id="index">
	<div class="row">
		<div class="col-sm-6">
			<h1><a href="topic.html">All Our Coverage</a></h1>
			<p>We have sorted all our articles since Aug. 10 by date and by topic. The page is updated at least twice a week.</p>
		</div>

		<div class="col-sm-6">
			<h1><a href="evidence.html">DOJ Reports &amp; Grand Jury Evidence</a></h1>
			<p>The Department of Justice released its final reports on both Darren Wilson and the Ferguson Police Department. Additionally, We've read thousands of pages of grand jury testimony transcripts and reports, heard police radio traffic and audio of the gunshots and viewed photos. Here, you can too.</p>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-6">
			<h1><a href="map.html">Mapping the Area</a></h1>
			<p>You can put the area in context by learning what happened where and when.</p>
		</div>
		<div class="col-sm-6">
			<h1><a href="liveblog.html">Live Blog</a></h1>
			<p>We've kept a live blog since August. Want to find out what's happening now? Here's where you should check.</p>
		</div>
	</div>
</div>
{% endblock %}