{% extends '_base.html' %}

{% block header_content %}
<header>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>{{ COPY.content.project_name|smarty }}</h1>
                <h2>{{ COPY.content.lorem_ipsum|smarty }}</h2>
            </div>
        </div>
    </div>
</header>
{% endblock %}


{% block content %}
<h1>{{ COPY.content.project_name }}</h1>

<div id="story-meta">
    <p class="byline">by <span>{{ COPY.content.byline }}</span></p>
    <p class="dateblock">
        <span class="date">{{ COPY.content.pubdate }}</span>
        <span class="time"> {{ COPY.content.pubtime }}</span>
    </p>
</div>

<h2>Example COPY list</h2>
<dl>
    {% for row in COPY.example_list %}
    <dt>{{ row.term }}</dt><dd>{{ row.definition }}</dd>
    {% endfor %}
</dl>

<h2>JST example</h2>
<p id="template-example"></p>

<h2>The Shooting</h2>
{% for row in COPY.stories %}
{% if row.shooting %}
<p><a href="{{ row.url }}">{{ row.headline }}</a></p>
{% endif %}
{% endfor %}

<h2>The Setting</h2>
{% for row in COPY.stories %}
{% if row.setting %}
<p><a href="{{ row.url }}">{{ row.headline }}</a></p>
{% endif %}
{% endfor %}

<h2>The Protests</h2>
{% for row in COPY.stories %}
{% if row.protests %}
<p><a href="{{ row.url }}">{{ row.headline }}</a></p>
{% endif %}
{% endfor %}

<h2>The Police</h2>
{% for row in COPY.stories %}
{% if row.police %}
<p><a href="{{ row.url }}">{{ row.headline }}</a></p>
{% endif %}
{% endfor %}

<h2>The Law</h2>
{% for row in COPY.stories %}
{% if row.law %}
<p><a href="{{ row.url }}">{{ row.headline }}</a></p>
{% endif %}
{% endfor %}

<h2>More Deaths</h2>
{% for row in COPY.stories %}
{% if row.more_deaths %}
<p><a href="{{ row.url }}">{{ row.headline }}</a></p>
{% endif %}
{% endfor %}

<h2>Racial Divide</h2>
{% for row in COPY.stories %}
{% if row.racial_divide %}
<p><a href="{{ row.url }}">{{ row.headline }}</a></p>
{% endif %}
{% endfor %}

<h2>The Politics</h2>
{% for row in COPY.stories %}
{% if row.the_politics %}
<p><a href="{{ row.url }}">{{ row.headline }}</a></p>
{% endif %}
{% endfor %}

<h2>The Schools</h2>
{% for row in COPY.stories %}
{% if row.the_schools %}
<p><a href="{{ row.url }}">{{ row.headline }}</a></p>
{% endif %}
{% endfor %}

<h2>The Arts</h2>
{% for row in COPY.stories %}
{% if row.the_arts %}
<p><a href="{{ row.url }}">{{ row.headline }}</a></p>
{% endif %}
{% endfor %}

<h2>The Region</h2>
{% for row in COPY.stories %}
{% if row.the_region %}
<p><a href="{{ row.url }}">{{ row.headline }}</a></p>
{% endif %}
{% endfor %}

{% endblock %}

{% block wide_content %}
<div class="row">
    <div class="col-md-12">
        <h2>{{ COPY.content.footer_title }}</h2>
        <p>{{ COPY.content.lorem_ipsum }}</p>
    </div>
</div>
{% endblock %}

{% include '_share_modal.html' %}
