<!DOCTYPE html>
<html lang="en">

<head>
    <title>{{ COPY.content.project_name }}</title>
    <meta http-equiv="X-UA-Compatible" content="IE=8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0" />
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <base target="_top" />

    {{ CSS.push('less/widget.less') }}
    {{ CSS.render('css/widget.min.css') }}

    {{ JS.push('js/app_config.js') }}
    {{ JS.push('js/console.js') }}
    {{ JS.push('js/lib/jquery.js') }}
    {{ JS.push('js/lib/bootstrap.js') }}
    {{ JS.render('js/widget-header.min.js') }}
    
    
</head>
<body>
	<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
		<div class="container" id="nav">
				<ul class="nav navbar-nav">
					{% for row in COPY.categories %}
					<li><a target="_self" href="#{{ row.slug }}">{{ row.category }}</a></li>
					{% endfor %}
					<li id="top"><a target="_self" href="#">Back to Top </a></li>
		</div>
	</nav>
	
	<h3>Viewing by topic <small>Last updated on {{ COPY.content.stories_updated }}</small></h3>
		<p class="small">View by <a target="_self" href="date_embed.html">date</a> instead?</p>

<hr>
<h2 class="topic" id="shooting">The Shooting</h2>
<p class="description">{% for row in COPY.categories %}
	{% if row.slug in 'shooting' %}
	{{ row.description }}
	{% endif %}
	{% endfor %}
</p>
{% for row in COPY.stories %}
{% if row.shooting %}
<p><a target="_parent" href="{{ row.url }}">{{ row.headline }}</a> <span class="small date">({{ row.month }}/{{ row.day }})</p>
{% endif %}
{% endfor %}
</div>

<hr>
<h2 class="topic" id="setting">The Setting</h2>
<p class="description">{% for row in COPY.categories %}
	{% if row.slug in 'setting' %}
	{{ row.description }}
	{% endif %}
	{% endfor %}
</p>
{% for row in COPY.stories %}
{% if row.setting %}
<p><a target="_parent" href="{{ row.url }}">{{ row.headline }}</a> <span class="small date">({{ row.month }}/{{ row.day }})</p>
{% endif %}
{% endfor %}

<hr>
<h2 class="topic" id="protests">The Protests</h2>
<p class="description">{% for row in COPY.categories %}
	{% if row.slug in 'protests' %}
	{{ row.description }}
	{% endif %}
	{% endfor %}
</p>
{% for row in COPY.stories %}
{% if row.protests %}
<p><a target="_parent" href="{{ row.url }}">{{ row.headline }}</a> <span class="small date">({{ row.month }}/{{ row.day }})</p>
{% endif %}
{% endfor %}

<hr>
<h2 class="topic" id="police">The Police</h2>
<p class="description">{% for row in COPY.categories %}
	{% if row.slug in 'police' %}
	{{ row.description }}
	{% endif %}
	{% endfor %}
</p>
{% for row in COPY.stories %}
{% if row.police %}
<p><a target="_parent" href="{{ row.url }}">{{ row.headline }}</a> <span class="small date">({{ row.month }}/{{ row.day }})</p>
{% endif %}
{% endfor %}

<hr>
<h2 class="topic" id="law">The Law</h2>
<p class="description">{% for row in COPY.categories %}
	{% if row.slug in 'law' %}
	{{ row.description }}
	{% endif %}
	{% endfor %}
</p>
{% for row in COPY.stories %}
{% if row.law %}
<p><a target="_parent" href="{{ row.url }}">{{ row.headline }}</a> <span class="small date">({{ row.month }}/{{ row.day }})</p>
{% endif %}
{% endfor %}

<hr>
<h2 class="topic" id="deaths">More Deaths</h2>
<p class="description">{% for row in COPY.categories %}
	{% if row.slug in 'deaths' %}
	{{ row.description }}
	{% endif %}
	{% endfor %}
</p>
{% for row in COPY.stories %}
{% if row.more_deaths %}
<p><a target="_parent" href="{{ row.url }}">{{ row.headline }}</a> <span class="small date">({{ row.month }}/{{ row.day }})</p>
{% endif %}
{% endfor %}

<hr>
<h2 class="topic" id="divide">Racial Divide</h2>
<p class="description">{% for row in COPY.categories %}
	{% if row.slug in 'divide' %}
	{{ row.description }}
	{% endif %}
	{% endfor %}
</p>
{% for row in COPY.stories %}
{% if row.racial_divide %}
<p><a target="_parent" href="{{ row.url }}">{{ row.headline }}</a> <span class="small date">({{ row.month }}/{{ row.day }})</p>
{% endif %}
{% endfor %}

<hr>
<h2 class="topic" id="politics">The Politics</h2>
<p class="description">{% for row in COPY.categories %}
	{% if row.slug in 'politics' %}
	{{ row.description }}
	{% endif %}
	{% endfor %}
</p>
{% for row in COPY.stories %}
{% if row.the_politics %}
<p><a target="_parent" href="{{ row.url }}">{{ row.headline }}</a> <span class="small date">({{ row.month }}/{{ row.day }})</p>
{% endif %}
{% endfor %}

<hr>
<h2 class="topic" id="schools">The Schools</h2>
<p class="description">{% for row in COPY.categories %}
	{% if row.slug in 'schools' %}
	{{ row.description }}
	{% endif %}
	{% endfor %}
</p>
{% for row in COPY.stories %}
{% if row.the_schools %}
<p><a target="_parent" href="{{ row.url }}">{{ row.headline }}</a> <span class="small date">({{ row.month }}/{{ row.day }})</p>
{% endif %}
{% endfor %}

<hr>
<h2 class="topic" id="arts">The Arts</h2>
<p class="description">{% for row in COPY.categories %}
	{% if row.slug in 'arts' %}
	{{ row.description }}
	{% endif %}
	{% endfor %}
</p>
{% for row in COPY.stories %}
{% if row.the_arts %}
<p><a target="_parent" href="{{ row.url }}">{{ row.headline }}</a> <span class="small date">({{ row.month }}/{{ row.day }})</p>
{% endif %}
{% endfor %}

<hr>
<h2 class="topic" id="region">The Region</h2>
<p class="description">{% for row in COPY.categories %}
	{% if row.slug in 'region' %}
	{{ row.description }}
	{% endif %}
	{% endfor %}
</p>
{% for row in COPY.stories %}
{% if row.the_region %}
<p><a target="_parent" href="{{ row.url }}">{{ row.headline }}</a> <span class="small date">({{ row.month }}/{{ row.day }})</p>
{% endif %}
{% endfor %}


</body>
</html>
